* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "LatoRegular";
  src: url(../fnt/LatoRegular.woff); }
@font-face {
  font-family: "LatoLight";
  src: url(../fnt/LatoLight.woff); }
@font-face {
  font-family: "LatoBold";
  src: url(../fnt/LatoBold.woff); }
span, p, li, a {
  font-family: "LatoRegular"; }

h1 {
  font-family: "LatoLight"; }

h2 {
  font-family: "LatoBold"; }

html {
  background-color: #ccc; }

body {
  font-family: sans;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1650px; }

.wrapper {
  margin: 0 auto; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      width: 100%; } }
  @media screen and (min-width: 1280px) {
    .wrapper {
      width: 1280px; } }

header {
  height: 90px;
  background: url(../img/header-bg.jpg) repeat-y top center;
  text-align: left; }

.logo, .topnav {
  display: inline-block;
  vertical-align: middle;
  height: 90px;
  line-height: 90px; }

.logo {
  width: 235px;
  padding-right: 50px;
  text-align: right; }
  .logo a, .logo img {
    display: inline; }

.topnav {
  width: 990px; }
  .topnav ul {
    display: inline-block;
    margin-left: 85px;
    float: left; }
    .topnav ul li {
      display: inline-block;
      cursor: pointer;
      height: 40px;
      line-height: 42px;
      vertical-align: middle;
      padding: 0 20px;
      margin-right: 40px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px; }
    .topnav ul li:last-of-type {
      margin-right: 169px; }
  .topnav .contacts {
    float: left;
    text-align: left;
    width: 182px;
    height: 90px;
    line-height: 90px;
    vertical-align: middle; }
    .topnav .contacts .contact {
      display: block;
      height: 20px;
      line-height: 20px;
      vertical-align: top;
      margin-top: 7px;
      font-size: 12px; }
    .topnav .contacts i {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px; }
    .topnav .contacts i.iphone {
      background: url(../img/sprite.png) -17px 0; }
    .topnav .contacts i.envelope {
      background: url(../img/sprite.png) -37px 2px; }
    .topnav .contacts i.vk {
      background: url(../img/sprite.png) 1px 5px; }
    .topnav .contacts a {
      text-decoration: none;
      border-bottom: none;
      color: #fff;
      display: inline-block;
      vertical-align: top; }

.intro {
  padding: 38px 20px 0 20px;
  margin-bottom: 120px;
  width: calc(100% - 20px); }
  .intro h1 {
    font-size: 42px;
    margin: 0;
    color: #c0c0c0;
    text-transform: uppercase;
    font-weight: normal; }
  .intro .underscore {
    background: url(../img/underscore.png) top center no-repeat;
    width: 367px;
    height: 7px;
    margin-bottom: 57px; }
  .intro img {
    float: left;
    margin: 0 130px 5px 50px; }
  .intro h2 {
    margin: 0 0 20px 0; }
  .intro p {
    margin: 21px 0; }

.numbers {
  background-color: #ecf8ff;
  min-height: 190px;
  text-align: center;
  padding: 60px 20px 40px; }
  .numbers h2 {
    color: #8d9ba3;
    font-size: 32px;
    margin-bottom: 38px; }

.number {
  display: inline-block;
  width: 300px;
  height: 95px;
  line-height: 95px;
  vertical-align: middle;
  border-right: 1px solid #b8d1e0; }
  .number span {
    display: block;
    height: 40px;
    line-height: 40px; }
  .number span:first-of-type {
    color: #3b9dbe;
    font-weight: bold;
    font-size: 34px;
    margin-top: 10px; }
  .number span:last-of-type {
    color: #666666;
    font-size: 18px;
    text-transform: uppercase; }

.number:last-of-type {
  border-right: none; }

.map {
  background: linear-gradient(to top, #e0f4ff, #c4eaff);
  border-top: 5px solid #b9def4;
  text-align: center;
  padding-top: 50px; }
  .map h2 {
    margin: 0 0 40px 0; }

/*# sourceMappingURL=style.css.map */
